<section class="education" id="education">
    <h2 class="heading">Education</h2>
    <div class="timeline-items">
        @for (edu of educationa; track edu.id) {
        <div class="timeline-item">
            <div class="timeline-dot"></div>
            <div class="timeline-date">2022</div>
            <div class="timeline-content">
                <h3>{{edu.id+1}}-{{edu.source}}</h3>
                <h4> {{edu.description}}</h4>
                <p class="fw-light">{{edu.date}}</p>
            </div>
        </div>
        }
    </div>
</section>