<section class="home" id="home">
    <div class="home-content">
        <h1>hello ,it's <span>Mohamed</span></h1>
        <h3 class="text-animation">I`m a <span></span></h3>
        <p>I'm a front-end developer proficient in HTML, CSS, JavaScript, 
            Angular +8, NgRx, Bootstrap, and API integration. I excel in creating 
            visually appealing, responsive websites and dynamic web applications. 
            I prioritize clean code, accessibility, and staying updated with industry 
            trends.</p>
        <app-icons></app-icons>
        <div class="btn-group">
            <a href="https://drive.google.com/file/d/1RcGPGHDejgHpo0SV8gvezRYMsGX9ImCs/view?usp=drive_link"
                target="_blank" class="btnn">Download CV</a>
            <a routerLink="../contact" class="btnn">Contact</a>
        </div>
    </div>
    <div class="home-img">
        <img src="assets/images/me1.png" alt="Portfolio Image" title="Mohamed">
    </div>
</section>