<section class="home" id="home">
    <div class="home-content">
        <h1>hello ,it's <span>Mohamed</span></h1>
        <h3 class="text-animation">I`m a <span></span></h3>
        <p>Dedicated Angular Developer with over 1 years’ experience in front-end
            development, expert in Angular and Agile lifecycle with a proven record of
            delivering robust healthcare applications. Excited to apply advanced technical skills
            and extensive knowledge in web services to contribute effectively to mission
            critical programs.</p>
        <!-- <div class="social-icons">
            <a href=""><i class="bi bi-facebook"></i> </a>
            <a href=""><i class="bi bi-instagram"></i> </a>
            <a href=""><i class="bi bi-linkedin"></i> </a>
            <a href=""><i class="bi bi-github"></i> </a>
            <a href=""><i class="bi bi-twitter-x"></i> </a>
        </div> -->
        <app-icons></app-icons>
        <div class="btn-group">
            <a href="https://drive.google.com/file/d/1xYqa5owuTBxRySdMxxAir8x2FA2e4O35/view?usp=drive_link" target="_blank" class="btnn" >Download CV</a>
            <a routerLink="contact" class="btnn">Contact</a>
        </div>
    </div>
    <div class="home-img">
        <img src="assets/images/me1.png" alt="Portfolio Image" title="Mohamed">
    </div>
</section>