<section class="services" id="services">
    <h2 class="heading">Services</h2>
    <div class="services-container">
        <div class="service-box">
            <div class="service-info">
                <h4>FrontEnd Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, libero minima, magni mollitia
                    porro facilis temporibus sequi quos aspernatur fuga eum similique beatae placeat earum? Officiis
                    dicta consequuntur cumque esse.</p>
            </div>
        </div>
        <div class="service-box">
            <div class="service-info">
                <h4>BackEnd Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, libero minima, magni mollitia
                    porro Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, libero minima, magni mollitia
                    porro facilis temporibus sequi quos aspernatur fuga eum similique beatae placeat earum? Officiis
                    dicta consequuntur cumque esse.</p>
            </div>
        </div>
        <div class="service-box">
            <div class="service-info">
                <h4>web Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, libero minima, magni mollitia
                    porro facilis temporibus sequi quos aspernatur fuga eum similique beatae placeat earum? Officiis
                    dicta consequuntur cumque esse.</p>
            </div>
        </div>
    </div>
</section>