<section class="projects" id="projects">
        <!-- <h2>What I do</h2>
        <div class="I-Do">
            <i class="fa-solid fa-table-cells-large"></i>
            <h3>front-end development</h3>
            <h2>Skills</h2>
            <div class="Skills">
                <a><i class="fa-brands fa-html5 fa-2x"></i></a>
                <a><i class="fa-brands fa-css3-alt fa-2x"></i></a>
                <a><i class="fa-brands fa-square-js fa-2x"></i></a>
                <a><i class="fa-brands fa-bootstrap fa-2x"></i></a>
                <a><i class="fa-brands fa-react fa-2x"></i></a>
                <a><i><img src="./img/tailwind.png" alt=""></i></a>
            </div>
        </div> -->
        <h1>work on it...</h1>
    </section>