<section class="projects" id="projects">
        <!-- <h2>What I do</h2>
        <div class="I-Do">
            <i class="fa-solid fa-table-cells-large"></i>
            <h3>front-end development</h3>
            <h2>Skills</h2>
            <div class="Skills">
                <a><i class="fa-brands fa-html5 fa-2x"></i></a>
                <a><i class="fa-brands fa-css3-alt fa-2x"></i></a>
                <a><i class="fa-brands fa-square-js fa-2x"></i></a>
                <a><i class="fa-brands fa-bootstrap fa-2x"></i></a>
                <a><i class="fa-brands fa-react fa-2x"></i></a>
                <a><i><img src="./img/tailwind.png" alt=""></i></a>
            </div>
        </div> -->
        <!-- <h1>work on it...</h1> -->

        <div class="container3D">
            <div class="card">
    
    
                <div class="logo3D">
                    <span class="circle circle1"></span>
                    <span class="circle circle2"></span>
                    <span class="circle circle3"></span>
                    <span class="circle circle4"></span>
                    <span class="circle circle5">
                        <i class="bi bi-snow2"></i>
                    </span>
                </div>
    
                <div class="glass">
                    <div class="content">
                        <h1>Mohamed</h1>
                        <p>Work ON IT.</p>
                    </div>
    
                    <div class="footer">
    
                        <div class="social">
                            <span class="social_icons">
                                <i class="bi-brands bi-facebook"></i>
                            </span>
                            <span class="social_icons">
                                <i class="bi-brands bi-linkedin"></i>
                            </span>
                            <span class="social_icons">
                                <i class="bi-brands bi-twitter-x"></i>
                            </span>
                        </div>
    
                        <div class="link">
                            Read More <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>
                    </div>
    
                </div>
    
    
            </div>
        </div>
    </section>