<section class="testimonials" id="testimonials">
    <div class="testimonials-box">
        <h2 class="heading">Testimonials</h2>
        <div class="wrapper">
            @for (test of testimonials; track $index) {
            <div class="testimonials-items">
                <img [src]="test.img" alt="">
                <h2>{{test.name}}</h2>
                <div class="rating">
                    @for (star of [].constructor(test.rate); track $index) {
                    <i class="bi bi-star-fill" id="star"></i>
                    }
                </div>
                <p>{{test.description}}</p>
            </div>
            }
        </div>
    </div>
</section>