<header class="header" id="header">
    <a routerLink="home" class="logo">
        <span>M</span>ohamed <span>R</span>amadan</a>
        <i class="bi bi-menu-app-fill" id="menu-icon" onclick="man()"></i>
    <nav class="navbar">

        <a [routerLink]="'home'" [routerLinkActive]="'active'">Home</a>
        <a [routerLink]="'education'">Education</a>
        <a [routerLink]="'services'">Services</a>
        <a [routerLink]="'testimonials'">Testimonials</a>
        <a [routerLink]="'projects'">Projects</a>
        <a [routerLink]="'contact'">Contact</a>
    </nav>
</header>